In [1]:
import pandas as pd
import numpy as np

## Fayllar bilan ishlash

In [17]:
df = pd.read_excel(r"c:\Users\User\projects\MohirDev\praktikum_datasets-main\uzbekistan.xlsx", index_col = 0, names=["hudud", "maydon", "aholi"])
df

                               maydon    aholi
hudud
Andijon viloyati                 4200  1899000
Buxoro viloyati                 39400  1384700
Fargʻona viloyati                6800  2597000
Jizzax viloyati                 20500   910500
Xorazm viloyati                  6300  1200000
Namangan viloyati                7900  1862000
Navoiy viloyati                110800   767500
Qashqadaryo viloyati            28400  2029000
Qoraqalpogʻiston Respublikasi  160000  1200000
Samarqand viloyati              16400  2322000
Sirdaryo viloyati                5100   648100
Surxondaryo viloyati            20800  1676000
Toshkent viloyati               15300  4450000

In [16]:
pd.read_csv(r"c:\Users\User\projects\MohirDev\praktikum_datasets-main\automobile_data.csv", index_col="index")

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
...,...,...,...,...,...,...,...,...,...
81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [22]:
df.to_csv("newuzb.csv")

In [25]:
obj = df.maydon
obj

hudud
Andijon viloyati                   4200
Buxoro viloyati                   39400
Fargʻona viloyati                  6800
Jizzax viloyati                   20500
Xorazm viloyati                    6300
Namangan viloyati                  7900
Navoiy viloyati                  110800
Qashqadaryo viloyati              28400
Qoraqalpogʻiston Respublikasi    160000
Samarqand viloyati                16400
Sirdaryo viloyati                  5100
Surxondaryo viloyati              20800
Toshkent viloyati                 15300
Name: maydon, dtype: int64

In [27]:
obj.to_csv("uzmaydon.csv")

In [31]:
pd.read_csv("uzmaydon.csv", index_col=0)

                               maydon
hudud
Andijon viloyati                 4200
Buxoro viloyati                 39400
Fargʻona viloyati                6800
Jizzax viloyati                 20500
Xorazm viloyati                  6300
Namangan viloyati                7900
Navoiy viloyati                110800
Qashqadaryo viloyati            28400
Qoraqalpogʻiston Respublikasi  160000
Samarqand viloyati              16400
Sirdaryo viloyati                5100
Surxondaryo viloyati            20800
Toshkent viloyati               15300

In [32]:
df2 = pd.read_csv(r"c:\Users\User\projects\MohirDev\praktikum_datasets-main\automobile_data.csv", index_col="index")
df2

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
...,...,...,...,...,...,...,...,...,...
81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [36]:
df2.to_excel("newscars.xlsx", index = False) # indexslarni saqlamadi

In [39]:
df2.to_excel("newscars.xlsx", index = False, columns=["company", "body-style", "price"]) # ustunlarni tanlab saqladi

## HDF5 formati

In [56]:
hdobj = pd.HDFStore("data.h5") # ochish

In [42]:
df

                               maydon    aholi
hudud
Andijon viloyati                 4200  1899000
Buxoro viloyati                 39400  1384700
Fargʻona viloyati                6800  2597000
Jizzax viloyati                 20500   910500
Xorazm viloyati                  6300  1200000
Namangan viloyati                7900  1862000
Navoiy viloyati                110800   767500
Qashqadaryo viloyati            28400  2029000
Qoraqalpogʻiston Respublikasi  160000  1200000
Samarqand viloyati              16400  2322000
Sirdaryo viloyati                5100   648100
Surxondaryo viloyati            20800  1676000
Toshkent viloyati               15300  4450000

In [43]:
df2

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
...,...,...,...,...,...,...,...,...,...
81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [57]:
hdobj.put("uzdata", df) #df qo'shish

In [45]:
hdobj.put("cardata", df2)

In [46]:
hdobj.keys()

['/cardata', '/uzdata']

In [47]:
hdobj['uzdata']

                               maydon    aholi
hudud
Andijon viloyati                 4200  1899000
Buxoro viloyati                 39400  1384700
Fargʻona viloyati                6800  2597000
Jizzax viloyati                 20500   910500
Xorazm viloyati                  6300  1200000
Namangan viloyati                7900  1862000
Navoiy viloyati                110800   767500
Qashqadaryo viloyati            28400  2029000
Qoraqalpogʻiston Respublikasi  160000  1200000
Samarqand viloyati              16400  2322000
Sirdaryo viloyati                5100   648100
Surxondaryo viloyati            20800  1676000
Toshkent viloyati               15300  4450000

In [48]:
hdobj['cardata']

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
...,...,...,...,...,...,...,...,...,...
81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [59]:
hdobj.close() # yopish

In [60]:
data = pd.read_hdf("data.h5", key="uzdata") # df ga olish
data

                               maydon    aholi
hudud
Andijon viloyati                 4200  1899000
Buxoro viloyati                 39400  1384700
Fargʻona viloyati                6800  2597000
Jizzax viloyati                 20500   910500
Xorazm viloyati                  6300  1200000
Namangan viloyati                7900  1862000
Navoiy viloyati                110800   767500
Qashqadaryo viloyati            28400  2029000
Qoraqalpogʻiston Respublikasi  160000  1200000
Samarqand viloyati              16400  2322000
Sirdaryo viloyati                5100   648100
Surxondaryo viloyati            20800  1676000
Toshkent viloyati               15300  4450000

In [64]:
data.to_hdf("data1.h5", key="uzdata")

## Veb-sahifalardan oʻqish

In [65]:
tashkent = pd.read_html("https://en.wikipedia.org/wiki/Tashkent")

In [66]:
len(tashkent)

18

In [67]:
tashkent[0]

,Tashkent Тошкент / Toshkent,Tashkent Тошкент / Toshkent.1
0,Capital city,Capital city
1,Tashkent,Tashkent
2,"Clockwise from top: Skyline of Tashkent, Kukel...","Clockwise from top: Skyline of Tashkent, Kukel..."
3,FlagSeal,FlagSeal
4,Nickname: Tosh (A rock),Nickname: Tosh (A rock)
5,"Motto(s): Kuch Adolatdadir (""Strength is in Ju...","Motto(s): Kuch Adolatdadir (""Strength is in Ju..."
6,Location of Tashkent in Uzbekistan,Location of Tashkent in Uzbekistan
7,NaN,NaN
8,TashkentTashkentTashkent,TashkentTashkentTashkent
9,Coordinates: 41°18′40″N 69°16′47″E﻿ / ﻿41.3111...,Coordinates: 41°18′40″N 69°16′47″E﻿ / ﻿41.3111...
10,Country,Uzbekistan
11,Settled,3rd century BCE
12,Divisions,12 districts
13,Government,Government
14,• Type,City Administration
15,• Hakim,Shavkat Umirzakov
16,Area,Area
17,• Capital city,631.29 km2 (243.74 sq mi)
18,• Metro,"6,400 km2 (2,500 sq mi)"
19,Dimensions,Dimensions
20,• Length,25 km (16 mi)
21,• Width,30 km (20 mi)
22,Elevation,"455 m (1,493 ft)"
23,Population (1 January 2024)[2],Population (1 January 2024)[2]
24,• Capital city,"3,095,498 [1]"
25,• Rank,1st in Uzbekistan
26,• Density,"4,816/km2 (12,470/sq mi)"
27,• Urban,2575431
28,• Metro,2633661
29,• Metro density,"410/km2 (1,100/sq mi)"
30,Time zone,UTC+05:00 (Uzbekistan Time)
31,• Summer (DST),(Not Observed)
32,Area code,71
33,Vehicle registration,01
34,HDI (2019),0.820[3] very high
35,International Airports,Islam Karimov Tashkent International Airport
36,Rapid transit system,Tashkent Metro
37,Website,tashkent.uz
38,NaN,NaN
39,UNESCO World Heritage Site,UNESCO World Heritage Site
40,Official name,Western Tien-Shan Mountain
41,Criteria,Natural:
42,Reference,1490
43,Inscription,2016 (40th Session)
44,Area,"528,177.6 ha (1,305,155 acres)"

In [75]:
tashkent[10]

,Nr,District,Population (2021)[4],Area (km2)[67][66],Density (area/km2),Map
0,1,Bektemir,31400,17.83,1761,NaN
1,2,Chilanzar,260700,29.94,8707,NaN
2,3,Yashnobod,258800,33.70,7680,NaN
3,4,Mirobod,142800,17.10,8351,NaN
4,5,Mirzo Ulugbek,285000,35.15,8108,NaN
5,6,Sergeli,105700,37.36,2829,NaN
6,7,Shayxontoxur,348300,29.70,11727,NaN
7,8,Olmazor,377100,34.50,10930,NaN
8,9,Uchtepa,278200,24.00,11592,NaN
9,10,Yakkasaray,121600,14.60,8329,NaN
10,11,Yunusabad,352000,40.60,8670,NaN
11,12,Yangihayot,132800,44.20,3005,NaN

## JSON va APIʼdan oʻqish